{% extends "lab_4/layout/base.html" %}

    {% block content %}
    <h1 style="font-family: Volkhov; text-align: center;">P O R T O F O L I O</h1>
    <p></p>
    <center><img class="img-circle" src="https://image.ibb.co/cFoMYw/pp.jpg"></center>
    <hr class="style1">
    <section name="bio">
        <p style="font-size: 18px ; text-align: center">
            {{content}}
        </p>
        <p style="font-size: 18px ; text-align: center">Everyone said that a name is a prayer. I hope I can fully my parent's prayer.</p>
        <p style="font-size: 18px ; text-align: center"><i>Help each other. Love everyone. Every Leaf. Every ray of light. Forgive. - Terrence Malick</i></p> 
    </section>
    <hr/>
    <section name="about_me">
        <h2 style="font-family: Volkhov; text-align: center;">I AM</h2>
        <ul style="text-align: center; list-style: none; font-size: 16px; padding: 0">
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>

    <section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

    {% endblock %}

