{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        var deleteFriend = function(npm) {
           window.open('delete-friend/'+npm+'/', '_self');
        }
        $( document ).ready(function () {
            $.ajax({
                method: "GET",
                url: '{% url "lab-7:get-friend-list-json" %}',//#URL untuk mendapatkan list teman,
                success: function (friend_list) {
                    var friendList = friend_list['results'];
                    // #tampilkan list teman ke halaman
                    // #hint : gunakan fungsi jquery append()
                    if(friendList.length==0) {
                        var html = '<div class="alert alert-danger text-center">\
                            <strong>Oops!</strong> Tidak ada teman\
                            </div>';
                        $("#friend-list").append(html)
                    }
                    else {
                        $.each(friendList, function(index, friend) {
                            var button = '<span class="pull-right">'+
                                            '<button type="button" class="btn btn-xs btn-danger"'+
                                            'onClick="deleteFriend(\''+friend.npm+'\')">'+
                                                '&times;'+
                                            '</button>'+
                                         '</span>'; 
                            var html = '<a class="list-group-item clearfix">'+
                                        friend.friend_name +
                                        ' (' + friend.npm + ')' + button + '</a>';
                            $("#friend-list").append(html)
                        });
                    }
                }
            });
        });
    </script>
{% endblock %}
