body {

  min-height: 2000px;
  background-color: #5DBCD2;
}

hr.style1{
	height: 6px;
	/*background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;*/
}


.navbar-static-top {
  margin-bottom: 19px;
}
/*Textarea not resizeable*/
textarea {
    resize:none
}