{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <img src="https://image.ibb.co/b5d3BG/Artboard1.png"; width="100%"; height="250px">
    <title> 
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
   <style>
         div{
        font-family: 'Inconsolata';
      }

      .nav .navbar-nav{
        width: 100%;
        text-align: center;
      }

        @media (min-width: 768px)
        {
            .navbar-nav {
                /* float: left; */
                margin: 0;
                float: none;
                display: inline-block;
                font-family: 'Satisfy';
                font-size: 20px;
                color: pink;

            }
        }
        .navbar-default {
            background-color: #FEFDFE;
            width: 100%;
            text-align: center;
        }
        .img-circle {
        border-radius: 50%;
        width: 200px;
        }
    </style>
</head>

<body>
    <header>
        {% include "lab_4/partials/header.html" %}
    </header>
    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->

            {% endblock %}
        </div>

    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_4/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
